hr {
    border-style: dotted none none;
    border-color: #C8C2BC;
    border-width: 5px;
    width: 60px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td {
    border: 2px solid rgb(0, 0, 0);
    text-align: left;
}

body {
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

.SB {
    font-size: 30px;
    color: #66BFBF;
    font-weight: normal;
}

.home {
    background-color: white;
}

body {
    background-color: rgb(55, 11, 189);
}

.textBox {
    background-color: grey;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 900px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}